<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		
  </head>

  <body>
		
		<%= render 'shared/top_bar' %>

		<%= render 'shared/flash' %>
	
		<div id='product-splash' class='text-center'>
			<h1>Zurbify</h1>
			<h2><small>What can we say? We sell quality</small></h2>
			<div class='row'>
				<p>Our team of engineers & designers have crafted some of the most advanced products you'll never dream of</p>
			</div>
		</div>
	
		<div class='panel'>
			<div class='row text-center'>
				<h3><small>Want to create a new product?</small></h3>
				<%= link_to 'Create a new product', new_product_path, class: 'button round' %>
			</div>
		</div>
		
		<%= yield %>
		
		
		<%= render 'shared/footer' %>
		
    <%= javascript_include_tag "application" %>
  </body>
</html>